  <form>
    <div class="form-group">
      <label for="name">Name:</label><br>
      {{input value=name id="name" class="form-control"}}
    </div>

    <div class="row text-center">
      <button class="btn btn-primary" {{action 'saveCategory'}}>Create Category</button>
    </div>
  </form>
