<li class="list-group-item">
  <span class="badge">Answers: 14</span>
  <span id="qt-title">{{question.title}}</span> - <span id="qt-author">{{question.author}}</span>, <span id="qt-time">{{moment-from-now question.time}}</span>
</li>
