// Colors
$white: #fff;
$black: #000;
$gray: #ccc;

// Fonts

@mixin font-size($sizeValue: 1.4) {
  $remValue: $sizeValue;
  $pxValue: ($sizeValue * 10);
  font-size: #{$pxValue}px;
  font-size: #{$remValue}rem;
}

// Sizes

// Mixins

// Utility
.slight-margin-top    {  margin-top: 2em;    }
.slight-margin-bottom {  margin-bottom: 2em; }
.slight-margin-left   {  margin-left: 2em;   }
.slight-margin-right  {  margin-right: 2em;  }
// Components
  // question-tile
  #qt-title {

  }

  #qt-author {

  }

  #qt-time {

  }

  .question-tile-link {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

// Question helper
#question-helper-wrapper {
}

.list-group-item {
  margin-top: 10px;
  &:hover {
    background-color: darken($gray, 1%);
    cursor: pointer;
  }
}
