@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,200);
@import "bower_components/font-awesome/scss/font-awesome";

// Colors
$white: #fff;
$black: #000;
$gray: #ccc;
$blue: blue;
$orange: orange;

// Fonts
*  { font-family: 'Roboto', sans-serif; }

// Utility
.slight-margin-top    {  margin-top: 2em;    }
.slight-margin-bottom {  margin-bottom: 2em; }
.slight-margin-left   {  margin-left: 2em;   }
.slight-margin-right  {  margin-right: 2em;  }


#content-wrapper {
  min-height: 400px;
}

// Components
  // question-tile
  #qt-title {
    font-weight: bold;
  }

  #qt-author {
    font-variant: small-caps;
    font-size: 18px;
  }

  #qt-time {

  }

  #qt-category {

  }

  #qt-answer-count {
    margin-left: 5px;
    font-size: 14px;
  }

  #qt-votes {
    font-size: 14px;
  }

  .question-tile-link {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

// Question helper
#question-helper-wrapper {
}

.list-group-item {
  margin-top: 10px;
  padding: 20px;
  &:hover {
    background-color: darken($white, 3%);
    cursor: pointer;
  }
}

// question page
#question-content {
  min-height: 200px;
}

#question-actions {
  margin-left: 1px !important;
}

.btn-control {
  margin-bottom: 5px;
  width: 30%;
}

.label-default:hover {
  cursor: pointer;
}

.vote-count {
  font-size: 24px;
}

// controls-bar
#options-bar-container {
  width: 84%;
  padding-top: 10px;
  padding-bottom: 10px;

  .nav-pills {
    li {
      margin-right: 10px;
    }
    a {
      color: $white;
      text-decoration: none;
    }
    .btn {
      background-color: #222;
      &:hover {
        color: $white;
        font-weight: bolder;
      }
    }
  }

  #title-sub {
    font-size: 42px;
    font-weight: 100;
  }

  #title {
    font-size: 42px;
    color: $black;
    margin-left: -3px;
    font-weight: 900;
  }
}

#question-title {
  display: inline;
  margin-left: 15px;
}

.vote-count {
  margin-left: 3px;
}

// navbar
#nav-wrapper {
  height: 44px !important;
}

.navbar a {
  text-transform: uppercase;
  color: $white;
  &:hover {
    text-decoration: none;
    font-weight: bolder;
  }
}

.navbar li a {
  &:hover {
    background-color: #222;
  }
}


.navbar-brand a {
  &:hover {
    text-decoration: none;
  }
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important;
    padding-bottom:4px !important;
    height: 24px;
}

// Icons/Images/Media
.glyphicon {
  font-size: 20px;
  &:hover {
    color: lighten($black, 50%);
    cursor: pointer;
  }
}

.usr-image img {
  height: 50px;
  width: 50px;
}

#user-image-large {
  height: 150px;
  width: 150px;
}

.fa {
  color: $black;
  &:hover {
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

#social-links {
  font-size: 24px;
  .fa {
    margin: auto 10px;
  }
}

.glyphicon-tasks {
  font-size: 36px;
}

// forms
#search-container {
  margin-top: 50px;
}

// footer
#footer {
  .well {
    background-color: #2f2f2f;
    margin: 0;
  }
  a {
    color: $white;
    text-transform: uppercase;
    &:hover {
      text-decoration: none;
      font-weight: bolder;
    }
  }
}

// button states

.btn:hover {
  -ms-transform: scale(1.09);
  -webkit-transform: scale(1.09);
  transform: scale(1.09);
}

.btn:focus {
  outline: none !important; // necessary for bootstrap override of blue outline
  color: $white;
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 768px) {

  #options-bar-container {
    margin-right: -16px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    .nav-pills {
      float: nonel;
      li {
        display: block;
        margin-top: 5px;
        width: 100%;
      }
      a {
        text-decoration: none;
      }
      .btn {
        width: 100%;
      }
    }

    #title {
      display: none;
    }
  }
  .btn-control {
    margin-bottom: 10px;
    width: 100%;
  }
  #delete-btn {
    display: block;
    width: 100%;
  }
}
