// Colors
$white: #fff;
$black: #000;
$gray: #ccc;
$blue: blue;
$orange: orange;
// Fonts

@mixin font-size($sizeValue: 1.4) {
  $remValue: $sizeValue;
  $pxValue: ($sizeValue * 10);
  font-size: #{$pxValue}px;
  font-size: #{$remValue}rem;
}

// Sizes

// Mixins

// Utility
.slight-margin-top    {  margin-top: 2em;    }
.slight-margin-bottom {  margin-bottom: 2em; }
.slight-margin-left   {  margin-left: 2em;   }
.slight-margin-right  {  margin-right: 2em;  }
// Components
  // question-tile
  #qt-title {
    font-weight: bold;
  }

  #qt-author {
    font-variant: small-caps;
    font-size: 18px;
  }

  #qt-time {

  }

  #qt-category {

  }

  .question-tile-link {
    text-decoration: none;
    color: inherit;
    &:hover {
      text-decoration: none;
      color: inherit;
    }
  }

// Question helper
#question-helper-wrapper {
}

.list-group-item {
  margin-top: 10px;
  padding: 20px;
  &:hover {
    background-color: darken($gray, 1%);
    cursor: pointer;
  }
}

// question page
#question-content {
  min-height: 200px;
}

#question-actions {
  margin-left: 1px !important;
}

.btn-control {
  margin-bottom: 5px;
  width: 30%;
}

.label-default:hover {
  cursor: pointer;
}

// controls-bar
#options-bar-container {
  width: 88%;
  padding-top: 30px;
  padding-bottom: 10px;

  .nav-pills li {
    margin-left: 15px;
  }

  .nav-pills a {
    color: $white;
    text-decoration: none;
  }

  .nav-pills .btn {

    &:hover {
      background-color: $orange;
    }
  }

  #title {
    font-size: 36px;
    color: $blue;
    margin-left: -3px;
  }
}

// Icons/Images/Media
.glyphicon {
  font-size: 20px;
  &:hover {
    color: lighten($black, 50%);
    cursor: pointer;
  }
}
