<div class="col-md-12 text-center">
  <h1>About</h1>
  <hr>
</div>

<div class="col-md-12 lead">
  <p>
    <b>techline</b> is a Stackoverflow clone that I built to learn Ember.js and single-page application design.  It supports creating questions, answers and the categorization of questions.  It allows users to search, sort, upvote, and downvote both questions and answers.
  </p>
  <p>
    The technology stack includes: ember-cli, moment.js, express, handlebars, and bootstrap.
  </p>

</div>
