<div id="category-wrapper" class="container">

  <div class="row text-left">
    <h1>{{model.name}}</h1>
  </div>

  <ul class="list-group">
    {{#each model.questions as |question|}}
      {{#link-to 'question' question.id class='question-tile-link'}}
        {{question-tile question=question}}
      {{/link-to}}
    {{/each}}
  </ul>
</div>
