<div id="category-wrapper" class="container">

  <div class="text-left col-md-12">
    <h1>{{model.name}}</h1>
  </div>

  <div class="col-md-12">
    <ul class="list-group">
      {{#each model.questions as |question|}}
        {{#link-to 'question' question.id class='question-tile-link'}}
          {{question-tile question=question}}
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>
