<div class="col-md-12 text-center">
  <h1>Contact</h1>
  <hr>
</div>

<div class="col-md-12 text-center lead">
  <p id="social-links">
    Email: <a href="mailto:tim.kellogg@gmail.com">{{fa-icon "envelope"}}</a>
    Github: <a href="https://github.com/">{{fa-icon "github-square"}}</a>
    LinkedIn: <a href="https://www.linkedin.com/in/kelloggtim">{{fa-icon "linkedin-square"}}</a>
  </p>


</div>
