<div class="footer">
  <div class="well row text-center">
    <div class="col-xs-4">
      <p>About</p>
    </div>
    <div class="col-xs-4 ">
     <p>Developed by <a href="http://www.kelloggwebstudio.com/"> Kellogg Web Studio</a></p>
    </div>
    <div class="col-xs-4 ">
      <p>Contact</p>
    </div>
  </div>
</div>
