<div class="footer">
  <div class="well row text-center">
    <div class="col-xs-4">
      {{#link-to 'about'}}<p>About</p>{{/link-to}}
    </div>
    <div class="col-xs-4 ">
     <p>Developed by <a href="http://www.kelloggwebstudio.com/"> Kellogg Web Studio</a></p>
    </div>
    <div class="col-xs-4 ">
      {{#link-to 'contact'}}<p>Contact</p>{{/link-to}}
    </div>
  </div>
</div>
