<nav id="nav-wrapper" class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{#link-to 'index'}}techline{{/link-to}}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="nav navbar-right">
        {{#link-to 'search'}}<a href="#"><li>Search</li></a>{{/link-to}}
      </div>
    </div>
  </div>
</nav>
<!-- <div class="nav navbar-right">
  <form class="navbar-form navbar-left" role="search">
   <div class="form-group">
    {{input value=query id="query" class="form-control" key-press="searchQuestions" placeholder="search"}}
   </div>
 </form>
</div> -->
