
<!-- Search results -->
<p id="search-results" class="container well">
  {{#if results}}
    {{results}}
  {{else}}
    There are no results to display.
  {{/if}}
</p>

<!-- {{search-results results=results}} -->

<!-- List all questions -->
<ul class="list-group">
  {{#each model.questions as |question|}}
    {{#link-to 'question' question.id class='question-tile-link'}}
      {{question-tile question=question}}
    {{/link-to}}
  {{/each}}
</ul>
