<div id="new-question-wrapper" class="container">

  <div class="text-center row">
    <h1>New Question</h1>
  </div>

  {{create-question-form saveQuestion="saveQuestion" model=model }}

  <div class="col-md-4">
    <aside id="question-helper-wrapper" class="slight-margin-top">
      <div id="question-helper-content" class="well">
        <h3>How to ask a question:</h3>
        <p>
          Is your question about programming? We prefer questions that can be answered, not just discussed.Provide details. Share your research.
        </p>
      </div>
    </aside>
  </div>

</div>
