<div id="options-bar-container" class="container">
  <div id="options-bar" class="row">
    <ul class="nav nav-pills col-md-12">
      <li id="title">techline</li>
      {{#link-to 'index'}}<li class="pull-right"><button class="btn">Questions</button></li>{{/link-to}}
      {{#link-to 'browse-categories'}}<li class="pull-right"><button class="btn">Categories</button></li>{{/link-to}}
      {{#link-to 'unanwsered-questions'}}<li class="pull-right"><button class="btn">Unanswered</button></li>{{/link-to}}
      {{#link-to 'new-question'}}<li class="pull-right"><button class="btn">Ask Question</button></li>{{/link-to}}
    </ul>
  </div>
</div>
