<div id="options-bar-container" class="container">
  <div id="options-bar" class="row">
    <ul class="nav nav-pills">
      <li id="title">techline</li>
      <li class="pull-right"><button class="btn">Questions</button></li>
      <li class="pull-right"><button class="btn">Categories</button></li>
      <li class="pull-right"><button class="btn">Unanswered</button></li>
      <li class="pull-right"><button class="btn">Ask Question</button></li>
    </ul>
  </div>
</div>
