<div class="container">
  <div class="form-inline">
    <div id="search-container" class="form-group">
      <label for="query">Search:</label>
      {{input value=query id="query" class="form-control" key-press="searchQuestions" placeholder="ruby on rails"}}
    </div>
  </div>
</div>

<ul class="list-group">
  {{#each searchQuestions as |question|}}
    {{#link-to 'question' question.id class='question-tile-link'}}
      {{question-tile question=question}}
    {{/link-to}}
  {{/each}}
</ul>
